{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}

<h1>{{ event.title }}</h1>

<p><strong>Date:</strong>
{{ event.start_time.strftime('%d %b %Y, %H:%M') }}</p>

<p><strong>Organizer:</strong>
{{ event.organizer }}</p>

{% if session.get("user_id") %}

    {% if subscribed %}
        <form method="POST"
                action="{{ url_for('event.unsubscribe',
                                    organizer=event.organizer) }}">
            <input type="hidden"
                    name="next"
                    value="{{ request.path }}">

            <button type="submit">
                Unsubscribe from Organizer
            </button>
        </form>

    {% else %}
        <form method="POST"
                action="{{ url_for('event.subscribe',
                                    organizer=event.organizer) }}">
            <input type="hidden"
                    name="next"
                    value="{{ request.path }}">

            <button type="submit">
                Subscribe to Organizer
            </button>
        </form>

    {% endif %}

{% endif %}

<p><strong>Type:</strong>
{{ event.event_type }}</p>

<p><strong>Location:</strong>
{{ event.location }}</p>

<p>{{ event.description }}</p>

{% if session.get("user_id") %}

    {% if saved %}
        <form method="POST"
              action="{{ url_for('event.unsave',
                                  event_id=event.id) }}">
            <input  type="hidden"
                    name="next"
                    value="{{ request.path }}">
                    
            <button type="submit">
                Unsave Event
            </button>
        </form>

    {% else %}
        <form method="POST"
              action="{{ url_for('event.save',
                                  event_id=event.id) }}">
            <button type="submit">
                Save Event
            </button>
        </form>

    {% endif %}

{% endif %}

<a href="{{ url_for('event.events') }}">
    Back to Events
</a>

{% endblock %}